#_404_text{
	padding: 30px;
	left: 50%;
	margin-left:-400px;
	position: absolute;
	top: 100px;
	width: 800px;
	height: 200px;
}

#real_title{
	font-size: xx-large;
	margin: 10px;
	text-align: center;
	font-weight: bold;
}

#real_text{
	font-size: large;
	text-align: center;
}

#_404_text a{
	font-weight: bold;
}
