._404_text{
	padding: 50px;
	left: 50%;
	margin-left:-400px;
	position: absolute;
	font-size: x-large;
	top: 100px;
	width: 800px;
	height: 200px;
	opacity: 0.85;
	border-radius: 20px;
	background-color: white;
}

.real_text{
	text-align: center;
}

._404_text a{
	font-weight: bold;
}
