html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0 0 0 0;
	font-family: "Microsoft YaHei", sans-serif;
}

a{
	color: black;
	text-decoration: none;
}

button{
	all: unset;
}

.header{
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #C8C8C8;
	opacity: 0.90;
	z-index: 9999;
}

.center{
	width: 100%;
	height: 100%;
	background: url(bg.png);
}

.footer{
	width: 100%;
	height: 170px;
	background-color: #6A5ACD;
}

.lft_nav{
	float: left;
	font-size: xx-large;
	font-weight: bold;
	line-height: 60px;
}

.rgt_nav{
	float: right;
	font-size: large;
	font-weight: bold;
	line-height: 60px;
	vertical-align: middle;
}

.rgt_nav img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.tabbar{
	margin: 0 0 0 20px;
	width: 400px;
	position: relative;
	top: 100px;
	bottom: 60px;
	left: 60px;
}

.text{
	width: 900px;
	height: 1420px;
	position: relative;
	top: 100px;
	bottom: 60px;
	left: 500px;
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

.copr{
	height: 85px;
	width: 200px;
	position: relative;
	top: 40px;
	left: 50%;
	margin-left:-100px;
	text-align: center;
	font-size: large;
	color: white;
}

.intro{
	position: relative;
	width: 400px;
	height: 400px;
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

.catalog{
	position: relative;
	top: 420px;
	width: 400px;
	height: 1000px;
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

.intro img{
	margin: 30px 30px 30px 30px;
	width: 100px;
	height: 100px;
	position: relative;
	left: 50%;
	margin-left: -50px;
}

.search_div{
	display: none;
}

.article_list{
	display: none;
}
