html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	font-family: "Microsoft YaHei", sans-serif;
}

a{
	all: unset;
	cursor: pointer;
}

button{
	all: unset;
}

/*--------------------------------------------------*/

.header{
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #C8C8C8;
	opacity: 0.90;
	z-index: 1;
}

.center{
	overflow: hidden;
	position: relative;
	min-height: 100%;
	padding: 100px 60px 60px;
	background: url(bg.png);
}

.footer{
	position: relative;
	padding: 40px 0px;
	height: 100px;
	background-color: #6A5ACD;
}

/*--------------------------------------------------*/

.lft_nav{
	float: left;
	font-size: xx-large;
	font-weight: bold;
	line-height: 60px;
}

.rgt_nav{
	float: right;
	font-size: large;
	font-weight: bold;
	line-height: 60px;
	vertical-align: middle;
	cursor: pointer;
}

.search_div{
	display: none;
}

.article_list{
	display: none;
}

.intro{
	position: absolute;
	padding: 30px;
	width: 300px;
	height: 300px;
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

.catalog{
	position: absolute;
	width: 300px;
	padding: 30px;
	top: 500px;
	height: 100%;
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

.text{
	width: 900px;
	position: absolute;
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

.copr{
	height: 85px;
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left:-100px;
	text-align: center;
	font-size: large;
	color: white;
}

/*--------------------------------------------------*/

.rgt_nav img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.intro img{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
}

.wan{
	position: absolute;
	top: 140px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}

.article{

}

.follow{
	color: white;
	position: absolute;
	top: 200px;
	width: 150px;
	height: 40px;
	left: 50%;
	text-align: center;
	font-size: large;
	line-height: 40px;
	margin-left: -75px;
	background-color: #49B1F5;
}
