html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	font-family: "Microsoft YaHei", sans-serif;
}

a{
	all: unset;
	cursor: pointer;
}

button{
	all: unset;
}

._div{
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

._title{
	font-weight: bold;
	font-size: large;
}

._text{
	padding: 20px 50px 20px 30px;
	line-height: 30px;
}

._title img{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

/*--------------------------------------------------*/

#header{
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #C8C8C8;
	opacity: 0.90;
	z-index: 1;
}

#center{
	overflow: hidden;
	position: relative;
	min-height: 100%;
	height: 2000px;
	padding: 100px 60px 60px;
}

#footer{
	position: relative;
	padding: 40px 0px;
	height: 100px;
	background-color: #6A5ACD;
}

/*--------------------------------------------------*/

#lft_nav{
	float: left;
	font-size: xx-large;
	font-weight: bold;
	line-height: 60px;
}

#rgt_nav{
	float: right;
	font-size: large;
	font-weight: bold;
	line-height: 60px;
	vertical-align: middle;
}

#search_div{
	display: none;
}

#article_list{
	display: none;
	top: 60px;
	position: fixed;
	height: 150px;
	width: 120px;
	background-color: white;
	border-radius: 7px;
}

#background{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: -1;
}

#intro{
	position: absolute;
	padding: 30px;
	width: 300px;
	height: 300px;
}

#info{
	position: absolute;
	top: 500px;
	padding: 30px;
	width: 300px;
	height: 230px;
}

#catalog{
	position: absolute;
	width: 300px;
	padding: 30px;
	top: 830px;
	height: 1000px;
}

#text{
	width: 900px;
	position: absolute;
}

#copr{
	height: 85px;
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left:-100px;
	text-align: center;
	font-size: large;
	color: white;
}

/*--------------------------------------------------*/

#over{
	
}

#rgt_nav img{
	height: 20px;
	vertical-align: middle;
}

#intro img{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
}

#article_list a{
	display: block;
	position: relative;
	height: 40px;
	left: 10px;
	font-weight: normal;
	font-size: medium;
}

#article_list img{
	height: 20px;
	vertical-align: middle;
}

#wan{
	position: absolute;
	top: 150px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}

#follow{
	color: white;
	position: absolute;
	top: 220px;
	width: 200px;
	height: 40px;
	left: 50%;
	text-align: center;
	font-size: large;
	line-height: 40px;
	margin-left: -100px;
	background-color: #49B1F5;
}
